body{
    width: 100%;
    height: 10vh;
}

.cima {
    background-color: blueviolet;
    width: 100%;
    height: 140px;
}

.logo img {
    margin-left: 80px;
}

.baixo {
    background-color: rgb(159, 46, 211);
    width: 94%;
    height: 40px;
    margin-left: 2%;
    border: solid rgb(95, 5, 107) 4px;
    border-radius: 50px;
    margin-top: -65px;
}


.texto{
    display: flex;
    align-items: center;
    gap: 70px;
    margin-top: -50px;
    margin-left: 66px;
}

a{
    position: relative;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    font-size: 40px;
    letter-spacing: 0.5px;
}

a::after{
    content: '';
    position: absolute;
    background-color: orangered;
    width: 0%;
    height: 3px;
    left: 0;
    bottom: 0;
    transition: width 0.3s ease; /* Transição inicial de 0.7 segundos */
}

a:hover{
    color: white;
}


a:hover::after {
    width: 100%;
    transition: width 0.7s ease; /* Transição final de 7 segundos */
}

a:hover::after{
    width: 100%;
}

.fundo {
    background-color: rgba(82, 55, 204, 0.733);
    height: 76.7vh;
    width: 100%;
    margin-top: calc(23px - 167px);

}

.educa{
    font-family: 'Courier New', Courier, monospace;
    font-size: 190px;
    width: 0;
    height: 0;
    display: flex;
    flex-direction: row;
    margin-top: 167px;
    margin-left: calc(100% - 84%);
    color: rgb(0, 0, 0);
}

.educa ::selection {
   color: #ff0000;
   background-color: none;
}

.bau {
   color: rgb(0, 195, 255);
}

.buscar-box {
    width: 0;
    height: 0;
    size: 0;
}